{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {{ category.description|truncatewords:150 }}
    {% else %}
        Welcome to my Store
    {% endif %}
{% endblock %}

{% block title %}
{% if category %}
    {{ category.name }}
{% else %}
    Our new collections
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 itemcenter">
            <div class="row ">
                {% if searched %}
                    <div class="col-12 mb-5 text-center">
                        <h5>You searched for <b>{{searched}}</b>...</h5>
                    </div>
                    {% for product in products %}
                        <div class="col-md-2 searchimg txt3">
                            <a href="{{ product.get_url }}"><img src="{{ product.image.url }}" alt="PorductImage"></a>
                            <h6 class="text-center">{{product.name}}</h6>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="nothing">
                        <h3 class="text-center">Nothing found</h3>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}



